@import 'variables.scss';

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingbar {
  background-color: $bar-bg;
  width: 100%;
  height: 40px;
  box-shadow: 0px 3px 4px black;
}